@font-face {
  font-family: "iconfont"; /* Project id 5064015 */
  src: url('iconfont.woff2?t=1762947894993') format('woff2'),
       url('iconfont.woff?t=1762947894993') format('woff'),
       url('iconfont.ttf?t=1762947894993') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zuixiaohua:before {
  content: "\e629";
}

.icon-guanbi1:before {
  content: "\e639";
}

.icon-shangyishoushangyige:before {
  content: "\e78a";
}

.icon-xiayigexiayishou:before {
  content: "\e7a5";
}

.icon-pajian_gequliebiao_:before {
  content: "\e717";
}

.icon-touxiang:before {
  content: "\e65f";
}

.icon-zuidahua:before {
  content: "\e600";
}

.icon-24gl-volumeCross:before {
  content: "\ea0b";
}

.icon-24gl-volumeHigh:before {
  content: "\ea0c";
}

.icon-24gl-volumeLow:before {
  content: "\ea0d";
}

.icon-24gl-volumeMiddle:before {
  content: "\ea0e";
}

.icon-24gf-pauseCircle:before {
  content: "\ea81";
}

.icon-bofang:before {
  content: "\e611";
}

.icon-quanbu:before {
  content: "\e61b";
}

.icon-sousuo:before {
  content: "\e667";
}

.icon-shezhi:before {
  content: "\e663";
}

.icon-shangyige:before {
  content: "\e603";
}

.icon-xiayige:before {
  content: "\e60c";
}

